.sidebar {
    width: 250px;
    background-color: #013365;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    transition: all 0.3s ease;
    z-index: 1000;
    color: white;
}

.sidebar.open {
    left: 0;
}

.sidebar-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.close-icon {
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.nav-link {
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-link:hover {
    background-color: #004080; /* Hover effect color */
}

hr {
    margin: 20px 0;
    border: 1px solid white;
}
