.container {
    display: flex; /* Use flexbox to align items side by side */
    gap: 2rem;
    padding: 2rem;
    background-color: white;
    font-family: "Poppins", sans-serif;
    color: var(--text-primary);
    margin: auto;
    background-color: var(--background-light);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text */
    max-width: 1200px; /* Optional: Set a max width for the container */
    width: 100%; /* Allow full width on smaller screens */
}

.calendar-container {
    flex: 1; /* Make the calendar take equal space as the details section */
    max-width: 500px; /* Limit the max width */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center calendar content */
}

react-calendar__tile--now {
    background-color: transparent !important; /* Remove the background color */
    color: var(--text-primary) !important; /* Set the text color to your default text color */
}

.react-calendar {
    font-size: 1.2rem; /* Make the calendar text larger */
}

.details-container {
    flex: 1; /* Take remaining space */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    text-align: center; /* Center text */
    min-height: 100%; /* Ensure it fills available vertical space */
}

.date-toggle-button {
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    background-color: var(--gray);
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.date-toggle-button:hover {
    background-color: #0056b3;
}

.selected-dates {
    margin-top: 0.5rem;
    font-size: 1rem;
}

.submit-button {
    padding: 0.5rem 1rem; /* Reduce padding to make it smaller */
    font-size: 1rem; /* Adjust the font size */
    background-color: var(--dark-blue);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    max-width: 200px; /* Limit the button width */
}

.submit-button:hover {
    background-color: var(--orange);
}

.selected-dates-container {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #f9f9f9; /* Light gray background for contrast */
    border: 1px solid #ddd; /* Border for better distinction */
    border-radius: 8px; /* Rounded corners for a modern look */
    text-align: center; /* Center the text */
    font-size: 1.2rem; /* Slightly larger font for emphasis */
    font-weight: bold; /* Make the text bold */
}

.selected-dates-title {
    margin-bottom: 0.5rem;
    font-size: 1.4rem; /* Slightly larger font size for the title */
    font-weight: bold;
    color: var(--dark-blue); /* Blue color to indicate importance */
}

.react-calendar__tile.highlight-start-date {
    background: var(--light-blue);
    font-weight: bold;
    color: black !important;
}
