.main-page {
    padding: 0;
    background-color: var(--background-light);
}

.main-content {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
}

.main-content h2 {
    font-size: 2rem;
    color: var(--dark-blue);
}

.main-content p {
    font-size: 1rem;
    color: var(--dark-gray);
}

.main-footer {
    background-color: var(--gray);
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: var(--dark-blue);
    margin-top: 50px;
}
